<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <!-- key/value that enables the application to do its job -->
  </appSettings>
  <system.webServer>
    <!-- mimeMap enables IIS to serve particular file types as specified by fileExtension. -->
    <staticContent>
      <!-- Example: <mimeMap fileExtension=".svg" mimeType="image/svg+xml" /> -->
    </staticContent>
    
    <modules runAllManagedModulesForAllRequests="false" />

	<!--<iisnode watchedFiles="web.config;*.js;routes\*.js;views\*.jade" nodeProcessCountPerApplication="0" /> -->
    <!-- indicates that the server.js file is a Node.js application in order to be handled by the iisnode module -->
    <handlers>
      <add name="iisnode" path="/Sources/server.js" verb="*" modules="iisnode" />
      
      <!-- Remote debugging (Azure Website with git deploy): Uncomment NtvsDebugProxy handler below.
      Additionally copy Microsoft.NodejsTools.WebRole to 'bin' from the Remote Debug Proxy folder.-->
      <!--<add name="NtvsDebugProxy" path="ntvs-debug-proxy/30f5ca66-51a9-478b-8f42-858a8a1d26f9" verb="*" resourceType="Unspecified"
        type="Microsoft.NodejsTools.Debugger.WebSocketProxy, Microsoft.NodejsTools.WebRole"/>-->
    </handlers>

    <rewrite>
      <rules>
        <clear />
        <!-- Remote debugging (Azure Website with git deploy): Uncomment the NtvsDebugProxy rule below. -->
        <!--<rule name="NtvsDebugProxy" enabled="true" stopProcessing="true">
          <match url="^ntvs-debug-proxy/.*"/>
        </rule>-->

        <rule name="LogFile" patternSyntax="ECMAScript" stopProcessing="true">  
			<match url="iisnode"/>
		</rule>  
		<rule name="NodeInspector" patternSyntax="ECMAScript" stopProcessing="true">                      
			<match url="^server.js\/debug[\/]?" />  
		</rule>  
		<!-- <rule name="StaticContent">  
			<action type="Rewrite" url="public{{REQUEST_URI}}"/>  
		</rule> -->  
		<rule name="DynamicContent">  
			<conditions>  
			  <add input="{{REQUEST_FILENAME}}" matchType="IsFile" negate="True"/>  
			</conditions>  
			<action type="Rewrite" url="Sources\server.js"/>  
		</rule>
      </rules>
    </rewrite>
	
	<!-- Web.Debug.config adds attributes to this to enable remote debugging when publishing in Debug configuration. -->
    
    <!-- Remote debugging (Azure Website with git deploy): Comment out iisnode above, and uncomment iisnode below. -->
    <!--<iisnode watchedFiles="web.config;*.js;routes\*.js;views\*.jade"
      loggingEnabled="true"
      devErrorsEnabled="true"
      nodeProcessCommandLine="node.exe &#45;&#45;debug"/>-->

  </system.webServer>

  <!-- Remote debugging (Azure Website with git deploy): uncomment system.web below -->
  <!--<system.web>
    <httpRuntime targetFramework="4.5"/>
    <customErrors mode="Off"/>
  </system.web>-->
</configuration>